#clock{
    font-size: 250px;
    color: white;
    text-align: center;
    display: block;
}

/*ALARM*/

#displayAlarm{
    display: none;
    text-align: center;
}

#alarm{
    font-size: 220px;
    color: white;
}

.cursorAlarm{
    cursor:pointer;
}

.cursorAlarm:hover{
    color: green;
}

/*TIMER*/
#displayTimer{
    color: white;
    display: none;
    text-align: center;
}

#timer{
    font-size: 220px;
    color: white;
}

/*DISPLAY OUTPUT TIMER*/
#displayOutputTimer{
    font-size: 260px;
    color: yellow;
    display: none;
}

#displayInputTimer{
    display: block;
}